<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3"
     th:fragment="navbar">

    <a class="navbar-brand" href="/">
        Quadras
    </a>

    <div class="navbar-nav">

        <a class="nav-link" href="/quadras">
            Quadras
        </a>

        <a class="nav-link" href="/reservas">
            Reservas
        </a>

        <a class="nav-link" href="/servicos">
            Serviços
        </a>

    </div>

</nav>
</body>
</html>