<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="container mt-5 flex-grow-1">
    <div class="container mt-4">
        <h1>Reservas</h1>

       <a href="/reserva/busca-tipo" class="btn btn-secondary mb-3">Esporte Por Quadra</a>

        <a href="/reservas/nova" class="btn btn-primary mb-3">Nova Reserva</a>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Responsável</th>
                <th>Quadra</th>
                <th>Serviços</th>
                <th>Valor Total (Por Hora)</th>
                <th width="180">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${reservasPage.content}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.data}"></td>
                <td>
                    <span th:text="${r.horarioInicial}"></span> às <span th:text="${r.horarioFinal}"></span>
                </td>
                <td th:text="${r.responsavel}"></td>
                <td th:text="${r.quadra.nome}"></td>
                <!-- SERVIÇOS -->
                <td>
                    <!-- QUANDO POSSUI SERVIÇOS ALOCADOS NA RESERVA -->
                    <span th:if="${r.servicos != null and !r.servicos.isEmpty()}">
                        <span th:each="s, iter : ${r.servicos}">
                            <span th:text="${s.nome}"></span>
                            <span th:if="${!iter.last}">
                                ,
                            </span>
                        </span>
                    </span>
                    <!-- QUANDO NãO POSSUI SERVIÇOS ALOCADOS NA RESERVA -->
                    <span th:unless="${r.servicos != null and !r.servicos.isEmpty()}">
                    </span>
                </td>
                <td th:text="${r.valorTotal}"></td>
                <td>
                    <a th:href="@{/reservas/editar/{id}(id=${r.id})}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{/reservas/excluir/{id}(id=${r.id})}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/reservas/exportar-pdf}"
           class="btn btn-danger">

            Exportar PDF
        </a>

        <!-- navegação pela paginção -->
        <nav class="d-flex justify-content-end mt-3">
            <ul class="pagination">

                <li class="page-item" th:classappend="${reservasPage.first} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/reservas(page=${reservasPage.number - 1}, size=${reservasPage.size})}">
                        Anterior
                    </a>
                </li>

                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, reservasPage.totalPages - 1)}"
                    th:classappend="${i == reservasPage.number} ? 'active'">

                    <a class="page-link"
                       th:href="@{/reservas(page=${i}, size=${reservasPage.size})}"
                       th:text="${i + 1}">
                    </a>
                </li>

                <li class="page-item" th:classappend="${reservasPage.last} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/reservas(page=${reservasPage.number + 1}, size=${reservasPage.size})}">
                        Próximo
                    </a>
                </li>

            </ul>
        </nav>
        <!-- navegação pela paginção -->
    </div>
</main>

<div class="mt-auto" th:replace="fragments/footer :: footer"></div>
</body>
</html>